@import "app-colors";
@import "variables";
@import "mixins";

.logout-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.logout-description {
  line-height: 22px;
}

.logout-btn-hld {
  display: flex;
  padding-top: 8px;
}

.logout-btn {
  height: 40px;
  border: 1px solid $default-text-color;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.logout-btn:hover {
  background: theme-var($--active-bg-hover);
}