<div class="instructions-bg">
  <div class="center-content">
    <mat-stepper linear #instructionStepper (selectionChange)="selectionChange($event)">
      <mat-step>
        <form>
          <div class="instructions-hld" fxLayout="row" fxLayoutGap.xs="20px" fxLayoutGap.sm="20px" fxLayoutGap.md="20px"
            fxLayoutGap="40px">
            <div fxFlex="nogrow">
              <div class="illustration-hld rule"></div>
            </div>
            <div fxFlex class="instruction-details">
              <div class="instruction-title">Instructions</div>
              <div class="instruction-description">Help the fisherman catch the fishes.</div>
              <div class="instruction-text">Type the word beneath the fish and it will be caught.</div>

              <div class="instruction-actions-hld flex-v-align">
                <div class="navigation-btn disabled">
                  <mat-icon svgIcon="arrow_left"></mat-icon>
                </div>
                <div class="navigation-pag">{{selectedIndex+1}}/2</div>
                <div class="navigation-btn mr-40" (click)="next()">
                  <mat-icon svgIcon="arrow_right"></mat-icon>
                </div>
                <div>
                  <div class="start-btn">Start now</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <div class="instructions-hld" fxLayout="row" fxLayoutGap.xs="20px" fxLayoutGap.sm="20px" fxLayoutGap.md="20px"
            fxLayoutGap="40px">
            <div fxFlex="nogrow">
              <div class="illustration-hld time"></div>
            </div>
            <div fxFlex class="instruction-details">
              <div class="instruction-title">Instructions</div>
              <div class="instruction-description">Timing is the key.</div>
              <div class="instruction-text">
                When time is up — you lose. When you catch a fish, then you get extra time.
              </div>

              <div class="instruction-actions-hld flex-v-align">
                <div class="navigation-btn" (click)="previous()">
                  <mat-icon svgIcon="arrow_left"></mat-icon>
                </div>
                <div class="navigation-pag">{{selectedIndex+1}}/2</div>
                <div class="navigation-btn mr-40" (click)="next()">
                  <mat-icon svgIcon="arrow_right"></mat-icon>
                </div>
                <div>
                  <div class="start-btn">Start now</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>

  </div>
</div>
