@import "app-colors";
@import "variables";
@import "mixins";

.instructions-bg {
  background-color: $game-blue-bg;
  background-image: url("/assets/svg/fish_instructions_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.instructions-hld {
  background: $white-color;
  padding: 20px;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.illustration-hld {
  width: 432px;
  height: 440px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.illustration-hld.rule {
  background-image: url("/assets/svg/fish_illustration.svg");
}

.illustration-hld.time {
  background-image: url("/assets/svg/fish_illustration_time.svg");
}

.instruction-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 138%;
  color: theme-var($--color-active);
}

.instruction-description {
  font-weight: 900;
  font-size: 20px;
  line-height: 138%;
  letter-spacing: 0.03em;
  padding: 14px 0;
}

.instruction-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.navigation-btn {
  width: 40px;
  height: 40px;
  background: $light-gray;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation-btn:hover {
  background: theme-var($--color-active);
  color: theme-var($--color-active-text);
}

.navigation-btn.disabled:hover,
.navigation-btn.disabled {
  cursor: not-allowed;
  background: $light-gray;
  opacity: 0.6;
}

.navigation-btn .mat-icon {
  width: 14px;
  height: 14px;
}

::ng-deep .navigation-btn:hover .mat-icon svg>path {
  stroke: theme-var($--color-active-text);
}

.instruction-actions-hld {
  padding-top: 40px;
}

.flex-v-align {
  display: flex;
  align-items: center;
}

.navigation-pag {
  margin: 0 16px;
  font-weight: 700;
  font-size: 16px;
}

.mr-40 {
  margin-right: 40px;
}

.instruction-actions-hld .start-btn {
  box-shadow: theme-var($--shadow);
  -moz-box-shadow: theme-var($--shadow);
  -webkit-box-shadow: theme-var($--shadow);
  border-radius: 12px;
  background: theme-var($--color-active);
  color: theme-var($--color-active-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-stepper-horizontal {
  background-color: transparent !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

@media(min-width: 1280px) {
  .instructions-hld {
    padding: 40px;
    margin-right: 40px;
  }
}