<div class="settings">
  <div class="section-title">{{ 'translateFont' | translate }}</div>
  <div class="pb-10">
    <div class="dropdown-label">{{ 'translateFontSize' | translate }}</div>
    <div fxlayout="row" mat-button [matMenuTriggerFor]="menu" class="dropdown-btn">
      <div fxFlex>{{selectedFontSize}}</div>
      <div fxFlex="nogrow">
        <mat-icon svgIcon="chevron_down"></mat-icon>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let opt of fontSizes" (click)="selectFontSize(opt)">{{opt}}</button>
    </mat-menu>
  </div>

  <!-- Font family options -->
  <div *ngFor="let option of fontFamilies" class="option-hld mtb-10" [ngClass]="{'active': option.selected}"
    (click)="selectFontFamily(option)">
    <mat-icon [svgIcon]="option.selected? 'radio_checked': 'radio_unchecked'" class="mr-24"
      [ngClass]="{'radio-checked': option.selected}"></mat-icon>
    <span *ngIf="option.type!=='other'">{{option.label}}</span>
    <span *ngIf="option.type==='other'">{{'translate'+option.label | translate}}</span>
  </div>
  <div fxlayout="row" mat-button [matMenuTriggerFor]="menuFontFamily" class="dropdown-btn"
    [ngClass]="{'disabled': !fontFamilies[fontFamilies.length-1].selected}">
    <div fxFlex>{{selectedExtraFontFamily.label}}</div>
    <div fxFlex="nogrow">
      <mat-icon svgIcon="chevron_down"></mat-icon>
    </div>
  </div>
  <mat-menu #menuFontFamily="matMenu">
    <button mat-menu-item *ngFor="let opt of otherFontFam" (click)="selectFontFamily(opt, true)">{{opt.label}}</button>
  </mat-menu>

  <div class="divider mtb-18"></div>

  <!-- Text color options -->
  <div *ngFor="let option of textColorBgOptions" class="option-hld mtb-10" [ngClass]="{'active': option.selected}"
    (click)="selectThemeColor(option)">
    <mat-icon [svgIcon]="option.selected? 'radio_checked': 'radio_unchecked'" class="mr-24"
      [ngClass]="{'radio-checked': option.selected}"></mat-icon>
    <span *ngIf="option.label">{{'translate'+option.label | translate }}</span>
  </div>
  <div class="ptb-5">
    <div class="dropdown-label">{{ 'translateOneWordRepeat' | translate }}</div>
    <div fxlayout="row" mat-button [matMenuTriggerFor]="wordRepeat" class="dropdown-btn">
      <div fxFlex>{{selectedWordRepeat+1}}</div>
      <div fxFlex="nogrow">
        <mat-icon svgIcon="chevron_down"></mat-icon>
      </div>
    </div>
    <mat-menu #wordRepeat="matMenu">
      <button mat-menu-item *ngFor="let opt of wordToRepeat" (click)="selectWordRepeat(opt)">{{opt+1}}</button>
    </mat-menu>
  </div>

  <div class="divider mtb-18"></div>
  <div class="section-title">{{ 'translateLayout' | translate}}</div>
  <div *ngFor="let option of layoutTypes" class="option-hld mtb-10" (click)="selectDisplayLayout(option)">
    <mat-icon [svgIcon]="option.selected? 'radio_checked': 'radio_unchecked'" class="mr-24"
      [ngClass]="{'radio-checked': option.selected}"></mat-icon>
    <div class="layout-opt">
      <div *ngIf="option.type==='top'">{{option.label}}</div>
      <mat-icon svgIcon="keyboard_3" class="keyboard-icon"></mat-icon>
      <div *ngIf="option.type==='bottom'">{{option.label}}</div>
    </div>
  </div>
</div>
