<div fxLayout="row wrap" *ngIf="courses.length > 0; else noCourses">
  <div fxFlex="33.3" fxFlex.xs="50" fxFlex.lg="25" *ngFor="let course of courses" class="award-item">
    <div>
      <mat-icon svgIcon="gold_award"></mat-icon>
    </div>
    <div class="award-title">
      {{course.name}}
    </div>
    <div class="awards-actions-hld">
      <mat-icon svgIcon="icon_replay" matTooltip="{{'translateReplay' | translate}}" (click)="replay(course)">
      </mat-icon>
      <mat-icon svgIcon="info" matTooltip="{{'translateViewDetails' | translate}}" (click)="viewDetails(course)">
      </mat-icon>
    </div>
  </div>
</div>
<ng-template #noCourses>
  <div class="no-courses-hld">{{ 'translateNoAwardsForCategory' | translate }}</div>
</ng-template>
