<div class="fx-layout-row fx-layout-row-wrap" *ngIf="completedLevels.length > 0; else noCourses">
  <div *ngFor="let level of completedLevels" class="fx-flex award-item">
    <div>
      <mat-icon svgIcon="gold_award"></mat-icon>
    </div>
    <div class="award-title">
      {{level.name}}
    </div>
    <div class="awards-actions-hld">
      <mat-icon svgIcon="icon_replay" matTooltip="{{'translateReplay' | translate}}" (click)="replay(level)">
      </mat-icon>
      <mat-icon svgIcon="info" matTooltip="{{'translateViewDetails' | translate}}" (click)="viewDetails(level)">
      </mat-icon>
    </div>
  </div>
</div>
<ng-template #noCourses>
  <div class="no-courses-hld">{{ 'translateNoAwardsForCategory' | translate }}</div>
</ng-template>
