@import "app-colors";
@import "variables";
@import "mixins";

.ptb-34 {
  padding-top: 34px;
  padding-bottom: 34px;
}

.course.main-content-hld {
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 34px;
  margin-bottom: 34px;
}

.cat-hld {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 12px;
}

.icon-hld {
  margin-left: auto;
}

.cat-hld.active,
.cat-hld:hover {
  background: theme-var($--color-active);
  color: theme-var($--color-active-text);
}

::ng-deep .cat-hld.active .mat-icon.read svg>path,
::ng-deep .cat-hld:hover .mat-icon.read svg>path {
  fill: theme-var($--color-active-text);
}

::ng-deep .cat-hld.active .mat-icon.symbol svg>path,
::ng-deep .cat-hld:hover .mat-icon.symbol svg>path,
::ng-deep .cat-hld.active .mat-icon svg>path:last-of-type,
::ng-deep .cat-hld:hover .mat-icon svg>path:last-of-type {
  stroke: theme-var($--color-active-text);
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}

.overflow-auto {
  overflow: auto;
  height: calc(100vh - 148px);
}