<app-shared-top-menu></app-shared-top-menu>
<app-shared-settings *ngIf="viewSettings"></app-shared-settings>
<div class="main-content-hld page-padd ptb-34">
  <div fxLayout="row wrap" fxLayoutGap="50px" *ngIf="categories.length > 0">
    <div fxFlex="300px">
      <div>
        <div *ngFor="let category of categories; let i=index" class="cat-hld"
          [ngClass]="{'active': category.name === currentCategory.name}" (click)="selectCategory(category)">
          <div>{{category.name}}</div>
          <div class="icon-hld">
            <mat-icon [svgIcon]="i===0 ? 'icon_read' : (i===1 ? 'icon_symbol': 'icon_speed')" class="mr-10">
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <div fxFlex>
      <app-modules-set-course-course [currentLanguage]="currentLanguage" [categories]="categories"
        [course]="currentCategory">
      </app-modules-set-course-course>
    </div>
  </div>
  <div *ngIf="categories.length===0" class="center-content">There are no categories for {{currentLanguage | translate}}.
  </div>
</div>
