@import "app-colors";
@import "variables";
@import "mixins";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
}

.menu-hld {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item-hld {
  align-items: center;
  display: flex;
  font-size: 14px;
  padding: 0 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  border-radius: 12px;
  margin: 0 5px;
  height: 40px;
}

.item-hld .mat-icon {
  width: 24px;
  height: 24px;
}

.item-hld .mat-icon.typing {
  width: 28px;
  height: 28px;
}

.item-hld .mat-icon.game {
  width: 26px;
  height: 26px;
}

.item-hld.active,
.item-hld:hover {
  background: theme-var($--active-bg-hover);
}

::ng-deep .item-hld .mat-icon svg>path {
  fill: theme-var($--color-active-secondary);
}

::ng-deep .item-hld:hover .mat-icon svg>path,
::ng-deep .item-hld.active .mat-icon svg>path {
  fill: $default-text-color;
}

::ng-deep .item-hld .mat-icon.achivement svg>path,
::ng-deep .item-hld .mat-icon.info svg>circle,
::ng-deep .item-hld .mat-icon.info svg>path,
::ng-deep .item-hld .mat-icon.setting svg>path,
::ng-deep .item-hld .mat-icon.course svg>path {
  stroke: theme-var($--color-active-secondary);
}

::ng-deep .item-hld .mat-icon.setting svg>path,
::ng-deep .item-hld .mat-icon.achivement svg>path:nth-of-type(3),
::ng-deep .item-hld .mat-icon.achivement svg>path:nth-of-type(4),
::ng-deep .item-hld .mat-icon.achivement svg>path:nth-of-type(5) {
  fill: none;
}

::ng-deep .item-hld .mat-icon.game svg>circle,
::ng-deep .item-hld .mat-icon.typing svg>circle {
  fill: theme-var($--color-active-secondary);
  stroke: theme-var($--color-active-secondary);
}

::ng-deep .item-hld:hover .mat-icon.achivement svg>path,
::ng-deep .item-hld.active .mat-icon.achivement svg>path,
::ng-deep .item-hld:hover .mat-icon.info svg>circle,
::ng-deep .item-hld.active .mat-icon.info svg>circle,
::ng-deep .item-hld:hover .mat-icon.info svg>path,
::ng-deep .item-hld.active .mat-icon.info svg>path,
::ng-deep .item-hld:hover .mat-icon.setting svg>path,
::ng-deep .item-hld.active .mat-icon.setting svg>path,
::ng-deep .item-hld:hover .mat-icon.course svg>path,
::ng-deep .item-hld.active .mat-icon.course svg>path {
  stroke: $default-text-color;
}

::ng-deep .item-hld:hover .mat-icon.game svg>circle,
::ng-deep .item-hld.active .mat-icon.game svg>circle,
::ng-deep .item-hld:hover .mat-icon.typing svg>circle,
::ng-deep .item-hld.active .mat-icon.typing svg>circle {
  fill: $default-text-color;
  stroke: $default-text-color;
}

.header .logo-icon,
.header .app-icon-hld {
  display: flex;
  align-items: center;
}

.header .logo-icon {
  width: 54px;
  height: 54px;
  background-image: theme-var($--logo-da);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .logo-icon.no {
  background-image: theme-var($--logo-no);
}
.header .logo-icon.sv {
  background-image: theme-var($--logo-sv);
}

@media (max-width: 1199px) {
  .header {
    padding: 0 26px;
  }
}
