<div *ngIf="showLoadingScreen" class="loading-bg">
  <div class="loading-hld">
    <div class="loading-header-hld">
      <div class="loading-header">
        Fish typing
      </div>
    </div>
    <div class="loading-bar-hld">
      <div class="footer-loading">
        <div class="loading-bucket-hld">
          <div class="loading-bucket"></div>
        </div>
        <div class="loading-bar"></div>
        <div class="footer-text">Loading...</div>
      </div>
    </div>
  </div>
</div>
<app-modules-games-fish-instructions *ngIf="!showLoadingScreen">
</app-modules-games-fish-instructions>
