@import "app-colors";

.course-title {
  font-weight: 900;
  font-size: 20px;
}

.lesson-counter {
  font-weight: 400;
  font-size: 14px;
}

.pt-32 {
  padding-top: 32px;
}

.courses-page .exercise-hld {
  margin-top: 24px;
  padding: 16px 24px;
  background: $light-yellow;
  border-radius: 16px;
  color: $grey-bg;
  font-size: 20px;
  cursor: pointer;
  display: block;
}

.pos-hld {
  font-weight: 700;
  font-size: 16px;
  width: 40px;
  height: 40px;
  background: $grey-bg;
  border-radius: 120px;
  color: $default-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.exercise {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  scroll-margin-top: 100px;
}

.exercise-progress {
  height: 6px;
  background: $grey-bg;
  border: 1px solid transparent;
  border-radius: 4px;
}

.progress {
  background: $color-active;
  height: 6px;
  width: 0;
  border-radius: 4px;
}

.progress.full {
  width: 100%;
}

.start-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 12px;
  padding: 7px 24px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background: $grey-bg;
  color: $white-color;
}

::ng-deep .start-btn .mat-icon svg>path {
  fill: $white-color;
}

::ng-deep .start-btn .mat-icon svg>circle {
  fill: $white-color;
  stroke: $white-color;
}

.courses-page .exercise-hld:hover,
.courses-page .exercise-hld.active {
  background: $active-bg-hover;
  color: $default-text-color;
}

.courses-page .exercise-hld:hover .pos-hld,
.courses-page .exercise-hld.active .pos-hld {
  background: $color-active;
}

.courses-page .exercise-hld:hover .start-btn,
.courses-page .exercise-hld.active .start-btn {
  background: $color-active;
  color: $default-text-color;
  box-shadow: 12px 12px 24px rgb(247 160 0 / 20%);
  -moz-box-shadow: 12px 12px 24px rgb(247 160 0 / 20%);
  -webkit-box-shadow: 12px 12px 24px rgb(247 160 0 / 20%);
}

::ng-deep .start-btn .mat-icon svg>path {
  fill: $white-color;
}

::ng-deep .start-btn .mat-icon svg>circle {
  fill: $white-color;
  stroke: $white-color;
}

::ng-deep .courses-page .exercise-hld:hover .start-btn .mat-icon svg>circle,
::ng-deep .courses-page .exercise-hld.active .start-btn .mat-icon svg>circle {
  fill: $default-text-color;
  stroke: $default-text-color;
}

::ng-deep .courses-page .exercise-hld:hover .start-btn .mat-icon svg>path,
::ng-deep .courses-page .exercise-hld.active .start-btn .mat-icon svg>path {
  fill: $default-text-color;
}


.max-h {
  // height: 484px;
  // overflow: hidden;
}

.max-h.full-h {
  height: auto;
}

.toggle-view {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 16px;
}

.plr-20 {
  padding: 0 20px;
}

.course-progress {
  font-weight: 900;
  font-size: 16px;
  text-transform: capitalize;
}

.course-progress .exercise-progress {
  border-color: $color-active;
  background: $white-color;
}

.course-progress .txt-hld {
  padding: 6px 0 20px 0;
}
