<div class="courses-page">
  <div class="course-progress">
    <div class="exercise-progress">
      <div class="progress" [ngStyle]="{'width': courseVal.progress + '%'}"></div>
    </div>
    <div class="txt-hld">{{courseVal.progress | number: '1.0-2'}}% {{ "translateComplete" | translate}}</div>
  </div>
  <div class="divider mlr-20"></div>
  <div>
    <div *ngFor="let course of courseVal.courses; let i=index" class="pt-16"
      [ngClass]="setCourseClass(i, course.completed)">
      <div class="pl-20 flex-display v-align">
        <div class="info-title">
          <div class="course-title" #target>{{course.name}}</div>
          <div class="lesson-counter">{{course.exercises.length}} {{ "translateExercises" | translate }}</div>
        </div>
        <div *ngIf="course.completed && i!==activeCourseIndex" (click)="toggleCompletedCourseDetails(course)"
          class="toggle-details-btn">
          <mat-icon svgIcon="chevron_down" *ngIf="!course.showDetails"
            matTooltip="{{'translateShowDetails' | translate}}"></mat-icon>
          <mat-icon svgIcon="chevron_up" *ngIf="course.showDetails"
            matTooltip="{{'translateHideDetails' | translate}}"></mat-icon>
        </div>
      </div>
      <div class="plr-20 course-exercises" [ngClass]="{'show-details': course.showDetails}">
        <div class="max-h">
          <div *ngFor="let exercise of course.exercises; let j=index" class="mt-24 flex-display v-align">
            <mat-icon svgIcon="arrow_right" class="current-exercise-indicator"
              *ngIf="j===activeExerciseIndex && i===activeCourseIndex; else empty_container"></mat-icon>
            <ng-template #empty_container>
              <div class="current-exercise-indicator"></div>
            </ng-template>
            <div class="exercise-hld" [ngClass]="{'active': j===activeExerciseIndex && i===activeCourseIndex}">
              <div class="exercise" [ngClass]="'exercise-index-'+j">
                <div class="pos-hld">{{j+1}}</div>
                <div>{{exercise.name}}</div>
                <div class="start-btn" (click)="startExercise(i,j)">
                  {{ "translateStart" | translate }}
                  <mat-icon svgIcon="rocket" class="ml-10">
                  </mat-icon>
                </div>
              </div>
              <div class="exercise-progress">
                <div class="progress" [ngClass]="{'full': exercise.results && exercise.results.length > 0}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider mlr-20 mt-16"></div>
    </div>
  </div>
</div>
