<app-shared-top-menu></app-shared-top-menu>
<app-shared-settings *ngIf="viewSettings"></app-shared-settings>
<div class="main-content-hld bg-img">
  <div class="center-content">
    <div class="fx-layout-row">
      <div class="fx-flex-640 illustration-holder">
        <div class="illustration-bg"></div>
      </div>
      <div class="fx-flex-360">
        <div class="welcome-title mb-32">{{ "translateWelcome10Fingers" | translate }}</div>
        <div class="fx-layout-row mb-32">
          <div class="fx-flex-120 img-hld man"></div>
          <div class="fx-flex flex-display v-align lh-22">{{ 'translateStartTypingFromWhereLeft' | translate }}</div>
        </div>
        <div class="wbtn-hld">
          <div class="welcome-btn" (click)="navigateTo('/type', true)">
            {{ "translateStartTyping" | translate}}
            <mat-icon svgIcon="keyboard" class="ml-auto"></mat-icon>
          </div>
        </div>
        <div class="divider mb-32"></div>
        <div class="fx-layout-row mb-32">
          <div fxFlex="120px" class="img-hld woman"></div>
          <div fxFlex class="flex-display v-align lh-22">{{ 'translateDefineNewLevel' | translate }}</div>
        </div>
        <div class="wbtn-hld">
          <div class="welcome-btn" (click)="navigateTo('/set-course')">
            {{ "translateSetCourse" | translate}}
            <mat-icon svgIcon="courses" class="ml-auto"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
