@import "app-colors";
@import "variables";
@import "mixins";

.bg-img {
  background-image: theme-var($--welcome-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.welcome-title {
  font-weight: 900;
  font-size: 32px;
  color: theme-var($--color-active-secondary);
  margin-top: 24px;
}

.wbtn-hld {
  width: 240px;
  margin-bottom: 32px;
}

.welcome-btn {
  box-shadow: theme-var($--shadow);
  -moz-box-shadow: theme-var($--shadow);
  -webkit-box-shadow: theme-var($--shadow);
  border-radius: 12px;
  background: theme-var($--color-active);
  color: theme-var($--color-active-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 220px;
}

::ng-deep .welcome-btn .mat-icon svg>path {
  stroke: theme-var($--color-active-text);
}

::ng-deep .welcome-btn .mat-icon svg>circle {
  fill: theme-var($--color-active-text);
}

.padd-tb-44 {
  padding: 44px 0;
}

.mb-32 {
  margin-bottom: 32px;
}

.img-hld {
  width: 120px;
  height: 96px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 24px;
}

.img-hld.man {
  background-image: theme-var($--welcome-img-man);
}

.img-hld.woman {
  background-image: theme-var($--welcome-img-woman);
}

.lh-22 {
  line-height: 22px;
}

.video-hld {
  background: $white-color;
  border: 1px solid $divider-bg;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: theme-var($--video-holder);
}
