@import "app-colors";
@import "variables";
@import "mixins";

.settings-hld {
  position: fixed;
  right: 10px;
  top: 90px;
  z-index: 2;
  width: 450px;
  background: $white-color;
  border: 1px solid theme-var($--color-active);
  box-shadow: 20px 20px 40px rgb(0 0 0 / 7%);
  border-radius: 16px;
  padding: 24px 32px;
  overflow: auto;
  max-height: calc(100% - 160px);
}

.drag-hld mat-icon {
  width: 32px !important;
  height: 14px !important;
}

.drag-bg {
  cursor: pointer;
  text-align: center;
  background: theme-var($--active-bg-hover);
  border-radius: 12px;
  height: 16px;
  line-height: 20px;
}

.header-hld {
  font-weight: 900;
  font-size: 20px;
  display: flex;
  padding: 24px 0;
  letter-spacing: 0.03em;
}

.header-hld .mat-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bd-l {
  border-left: 1px solid $divider-bg;
  padding-left: 24px;
}

.setting-hld {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  height: 48px;
  border-radius: 12px;
  padding: 0 16px;
  cursor: pointer;
}

.setting-hld .mat-icon {
  margin-right: 16px;
}

.setting-hld.active {
  background: theme-var($--active-bg-hover);
}

:host ::ng-deep .option-hld {
  display: flex;
  align-items: center;
  cursor: pointer;
}

:host ::ng-deep .mat-icon.keyboard-icon {
  width: 142px;
  height: 46px;
  border: 3px solid transparent;
  border-radius: 12px;
}

:host ::ng-deep .option-hld.active .mat-icon.keyboard-icon {
  border: 3px solid theme-var($--active-bg-hover);
}

:host ::ng-deep .mr-24 {
  margin-right: 24px;
}

:host ::ng-deep .mtb-18 {
  margin: 18px 0;
}

:host ::ng-deep .mb-18 {
  margin-bottom: 18px;
}

:host ::ng-deep .mtb-10 {
  margin: 10px 0;
}

:host ::ng-deep .settings .section-title {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 18px;
}

:host ::ng-deep .settings .mat-icon.radio-checked svg>circle:first-of-type {
  stroke: theme-var($--color-active);
}

:host ::ng-deep .settings .mat-icon.radio-checked svg>circle:last-of-type {
  fill: theme-var($--color-active);
}

:host ::ng-deep .settings .mat-icon.checkbox-checked svg>rect {
  fill: theme-var($--color-active);
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.fx-flex-168 {
  flex: 1 1 168px;
  box-sizing: border-box;
  max-width: 168px;
  min-width: 168px;
}

.mr-24 {
  margin-right: 24px;
}