/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../assets/app-colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $default-text-color;
}

body .mat-icon {
  height: 24px;
  width: 24px;
}

.cdk-overlay-pane.error-class {
  width: 450px;
}

.cdk-overlay-pane.error-class .mat-dialog-container {
  padding: 24px 24px 0 24px;
}

.mat-dialog-actions,
.mat-dialog-title {
  margin-bottom: 0 !important;
}

.h-100 {
  height: 100%;
}

.main-content-hld {
  position: fixed;
  top: 81px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.page-padd {
  padding: 0 64px;
}

.divider {
  background: $divider-bg;
  height: 1px;
}

.ml-auto {
  margin-left: auto;
}

.flex-display {
  display: flex;
}

.v-align {
  align-items: center;
}

.orange .achievement-backdrop {
  background: rgba(252, 169, 3, 0.8);
  backdrop-filter: blur(16px);
}

.blue .achievement-backdrop {
  background: rgba(16, 110, 190, 0.8);
  backdrop-filter: blur(16px);
}

.game-over-backdrop {
  background: rgba(24, 99, 165, 0.8);
  backdrop-filter: blur(16px);
}

.cursor-pointer {
  cursor: pointer;
}

.game-over-class,
.achievement-class {
  max-height: 98vh;
  min-width: 432px;
}

.game-over-class,
.achievement-class .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .page-padd {
    padding: 0 26px;
  }
}


/* Custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px transparent;
  -moz-box-shadow: inset 0 0 3px transparent;
  -webkit-box-shadow: inset 0 0 3px transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(31, 31, 31, 0.5);
  -moz-box-shadow: inset 0 0 3px rgba(31, 31, 31, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(31, 31, 31, 0.5);
  background-color: rgb(244, 248, 249);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
