@import "app-colors";
@import "variables";
@import "mixins";

.title {
  font-size: 22px;
  line-height: 22px;
  color: $dark-text-color;
  padding: 20px 24px 10px 24px;
}

.content-hld {
  padding-top: 15px;
  color: $error-text-color;
  font-size: 14px;
  line-height: 20px;
}

.input-hld {
  width: 100%;
}

.modal-footer {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.action-btn {
  cursor: pointer;
  padding: 10px 15px;
  min-width: 40px;
  text-align: center;
  color: theme-var($--color-active);
}

.action-btn:hover {
  color: theme-var($--color-active-secondary);
}

.icon-hld {
  padding-right: 10px;
  line-height: 20px;
}

.padd-10 {
  padding: 10px 0;
}

@media (max-width: 767px) {
  .dialog-hld {
    width: 100% !important;
  }
}
