<div class="dialog-hld">
  <div mat-dialog-title class="mat-dialog-title">
    <div class="close-row">
      <div class="icon-hld ml-auto">
        <mat-icon svgIcon="icon_close" (click)="close()"></mat-icon>
      </div>
    </div>
    <div class="game-over-header">
      <div>
        <mat-icon svgIcon="crab" class="crab-icon"></mat-icon>
      </div>
      <div class="game-over-header-title">Game over</div>
      <div *ngIf="data" class="game-over-header-level pb-16">{{data.level.name}}</div>
    </div>
    <div class="divider"></div>
  </div>

  <div mat-dialog-content class="content-hld" *ngIf="data">
    <!-- <div>{{data.level.name}}</div> -->
    <!-- <div>
      <div>Date & time</div>
      <div>
        You've caught {{data.wordsCount}} fishes
      </div>
    </div> -->
    <div class="overall-res-hld">
      <div>
        <mat-icon svgIcon="calendar" class="calendar"></mat-icon>
      </div>
      <div class="details-title-hld">{{ 'translateDateTime' | translate }}</div>
      <div class="award-desc">
        {{data.level.updatedAt | date: 'MMMM d, y, h:mm a'}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="overall-res-hld">
      <div>
        <mat-icon svgIcon="koi_orange_white" class="koi-fish"></mat-icon>
      </div>
      <div class="details-title-hld">Fishes caught</div>
      <div class="award-desc">
        You've caught {{data.wordsCount}} fishes
      </div>
    </div>
    <div class="divider"></div>
    <div class="overall-res-hld" *ngIf="findMaxResult">
      <div>
        <mat-icon svgIcon="gold_award" class="gold-award"></mat-icon>
      </div>
      <div class="details-title-hld">Your highest score</div>
      <div class="award-desc">
        You've caught {{findMaxResult.numberOfWords}} fishes
      </div>
    </div>
    <div class="divider" *ngIf="findMaxResult"></div>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" *ngIf="data" class="pt-24">
    <div class="details-actions-hld">
      <div class="round-btn" matTooltip="{{'translateReplay' | translate}}" (click)="replay()">
        <mat-icon svgIcon="icon_replay"></mat-icon>
      </div>
      <div class="round-btn" matTooltip="Play next level" (click)="playNext()">
        <mat-icon svgIcon="arrow_right"></mat-icon>
      </div>
      <div class="round-btn" matTooltip="Select level" (click)="selectLevel()">
        <mat-icon svgIcon="enter"></mat-icon>
      </div>
      <div class="round-btn" matTooltip="Back to games" (click)="exit()">
        <mat-icon svgIcon="icon_logout"></mat-icon>
      </div>
    </div>
  </div>
</div>
