<div class="dialog-hld">
  <div mat-dialog-title class="mat-dialog-title">
    <div class="close-row">
      <div class="icon-hld ml-auto">
        <mat-icon svgIcon="icon_close" (click)="close()"></mat-icon>
      </div>
    </div>
  </div>

  <div mat-dialog-content class="content-hld" *ngIf="data">
    <div #detailsEl>
      <div class="award-header-hld">
        <div class="award-header">
          <mat-icon svgIcon="gold_award"></mat-icon>
        </div>
        <div class="award-header-title" *ngIf="data.details">{{data.details.categoryName}}</div>
        <div class="award-desc pb-30">{{data.name}}</div>
      </div>
      <div class="divider"></div>
      <div class="overall-res-hld">
        <div>
          <mat-icon svgIcon="calendar" class="calendar"></mat-icon>
        </div>
        <div class="details-title-hld">{{ 'translateDateTime' | translate }}</div>
        <div class="award-desc" *ngIf="data.details && data.details.highestResult">
          {{data.details.highestResult.updatedAt | date: 'MMMM d, y, h:mm a'}}
        </div>
      </div>
      <div class="divider"></div>
      <div class="overall-res-hld">
        <div>
          <mat-icon svgIcon="icon_speed" class="speed"></mat-icon>
        </div>
        <div class="details-title-hld">{{ 'translateSpeed' | translate }}</div>
        <div class="award-desc">{{calculateSpeed()}} {{ 'translateKeysPerMinute' | translate }}</div>
      </div>
      <div class="divider"></div>
      <div class="overall-res-hld">
        <div>
          <mat-icon svgIcon="accuracy" class="accuracy"></mat-icon>
        </div>
        <div class="details-title-hld">{{ 'translateAccuracy' | translate }}</div>
        <div class="award-desc">{{calculateAccuracy()}} %</div>
      </div>
      <div class="divider"></div>
    </div>
  </div>

  <div mat-dialog-actions class="fx-layout-row fx-layout-center-center" *ngIf="data">
    <div class="details-actions-hld">
      <div class="round-btn" matTooltip="{{'translateReplay' | translate}}" (click)="replay()">
        <mat-icon svgIcon="icon_replay" class="replay"></mat-icon>
      </div>
      <div class="round-btn" matTooltip="{{'translatePrint' | translate}}" (click)="print()">
        <mat-icon svgIcon="print" class="print"></mat-icon>
      </div>
      <div class="round-btn" matTooltip="{{'translateDownload' | translate}}" (click)="downloadAsPDF()">
        <mat-icon svgIcon="download"></mat-icon>
      </div>
      <div class="round-btn colored-btn" matTooltip="{{'translatePlayNextLevel' | translate}}" (click)="nextLevel()">
        <mat-icon svgIcon="arrow_right"></mat-icon>
      </div>
    </div>
  </div>
</div>
