.game-word-hld {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-play-hld {
  position: absolute;
  display: flex;
  right: 0;
}
