<app-shared-top-menu></app-shared-top-menu>
<app-shared-settings *ngIf="viewSettings"></app-shared-settings>
<div class="main-content-hld typing-view">
  <app-modules-typing-header-view *ngIf="categories && categories" [currentCategory]="currentCategory"
    [currentProgress]="currentProgress" [exerciseIndex]="exerciseIndex" [selectedCourse]="selectedCourse"
    (resetCourseEmit)="resetCourse()">
  </app-modules-typing-header-view>

  <div>
    <div class="keyboard-hld" *ngIf="keyboardTop">
      <div class="hands-hld mr-10" *ngIf="keyboardTheme!==''">
        <div class="hands-bg left"></div>
      </div>
      <app-vkeyboard #vkeyboard></app-vkeyboard>
      <div class="hands-hld ml-10" *ngIf="keyboardTheme!==''">
        <div class="hands-bg right"></div>
      </div>
    </div>
    <div class="exercise-hld">
      <div class="exercises" [ngClass]="coloredText"
        [ngStyle]="{fontSize:textSetting['fontSize'],fontFamily:textSetting['fontFamily']}">
        <div #exerciseElem></div>
      </div>
    </div>
    <div class="keyboard-hld" *ngIf="!keyboardTop">
      <div class="hands-hld mr-10" *ngIf="keyboardTheme!==''">
        <div class="hands-bg left"></div>
      </div>
      <app-vkeyboard #vkeyboard></app-vkeyboard>
      <div class="hands-hld ml-10" *ngIf="keyboardTheme!==''">
        <div class="hands-bg right"></div>
      </div>
    </div>
  </div>
</div>
