<app-shared-top-menu></app-shared-top-menu>
<app-shared-settings *ngIf="viewSettings"></app-shared-settings>
<div class="main-content-hld">
  <div class="typing-header">
    <div class="page-padd">
      <div fxLayout="row wrap" fxLayoutGap="20px" class="header-content">
        <div class="left-header" fxFlex>
          <div class="back-btn-hld" (click)="goBack()">
            <mat-icon svgIcon="chevron_left" class="mr-10"></mat-icon>
            Back
          </div>
          <div class="course-title">{{selectedCourse.name}}</div>
        </div>
        <div class="right-header" fxFlex="nogrow">
          <div class="course-det-hld">{{selectedCourse.exercises[0].name}}</div>
          <div class="reset-hld" (click)="resetCourse()">
            <mat-icon svgIcon="icon_replay"></mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="course-progress-hld">
      <div class="progress"></div>
    </div>
  </div>
  <div class="percentage-hld">35%</div>

  <div class="exercise-hld">
    <div class="exercises">
      <div #exerciseElem></div>
      <!-- <div *ngFor="let item of selectedCourse.exercises">
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div fxFlex="nogrow" class="icon-hld">
            <mat-icon svgIcon="icon_sound"></mat-icon>
          </div>
          <div fxFlex>{{item.text}}</div>
        </div>
        <div class="divider mtb-18"></div>
      </div> -->
    </div>
  </div>

  <div>
    <!-- <button (click)="setTheme('')">No theme</button>
    <button (click)="setTheme('color-group')">Theme 1</button>
    <button (click)="setTheme('single-color-group')">Theme 2</button>
    <button (click)="setMode('full')">Mode full</button>
    <button (click)="setMode('partial')">Mode partial</button>
    <button (click)="setMode('minimal')">Mode minimal</button> -->
    <!-- <button (click)="setNumbers(true)">With numbers</button>
    <button (click)="setNumbers(false)">Without numbers</button> -->
    <button (click)="setLanguage('dk')">Danish</button>
    <button (click)="setLanguage('sw')">Swidish</button>
    <button (click)="setLanguage('no')">Norwegian</button>
    <button (click)="setLanguage('ro')">Romanian</button>
  </div>
  <div class="keyboard-hld">
    <app-vkeyboard #vkeyboard></app-vkeyboard>
  </div>
</div>
