@import "app-colors";
@import "variables";
@import "mixins";

.result-hld {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: $default-text-color;
  text-align: center;
}

.result-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

.result-hld .border-tb {
  border-top: 1px solid theme-var($--color-active);
  border-bottom: 1px solid theme-var($--color-active);
}

.padd-tb-44 {
  padding: 44px 0;
}

.result-btn-hld {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.result-btn {
  box-shadow: theme-var($--shadow);
  -moz-box-shadow: theme-var($--shadow);
  -webkit-box-shadow: theme-var($--shadow);
  border-radius: 12px;
  background: theme-var($--color-active);
  color: theme-var($--color-active-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.res-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 138%;
  letter-spacing: 0.03em;
  display: flex;
  padding-bottom: 10px;
}

.mr-16 {
  margin-right: 16px;
}

.flex-v-align {
  display: flex;
  align-items: center;
}

.res-txt {
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.04em;
}

.res-hld {
  padding: 12px 0;
}

::ng-deep .res-txt .mat-icon svg>path,
::ng-deep .res-txt .mat-icon svg>circle {
  stroke: theme-var($--color-active-secondary);
}

::ng-deep .res-txt .mat-icon.accuracy svg>path:nth-of-type(3),
::ng-deep .res-txt .mat-icon.speed svg>path:first-of-type {
  fill: theme-var($--color-active-secondary);
  stroke: none;
}

.pl-40 {
  padding-left: 40px;
}

.round-btn {
  width: 44px;
  height: 44px;
  background: $white-color;
  box-shadow: 1px 1px 1px rgba(82, 61, 20, 0.14);
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  cursor: pointer;
}

.round-btn:hover {
  background: theme-var($--color-active);
}

::ng-deep .round-btn:hover .mat-icon svg>path,
::ng-deep .round-btn:hover .mat-icon svg>rect {
  stroke: theme-var($--color-active-text);
}

.ptb-30 {
  padding: 30px 0;
}
