<!-- ISO105 -->
<div id="keyboard" class="{{class}}">
  <div id="keyboard-bg">
    <!-- ESC F1 F2... -->
    <div class="kr1">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Esc</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F1</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F4</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F6</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F7</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F9</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F10</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F11</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>F12</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc14">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>PrtSc</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc15">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>ScrLk</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc16">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Pause</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 1234567890 -->
    <div class="kr2">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,1,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,1)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,1,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,2,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,2)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,2,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,3,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,3)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,3,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,4,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,4)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,4,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,5,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,5)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,5,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,6,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,6)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,6,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,7,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,7)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,7,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,8,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,8)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,8,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,9,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,9)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,9,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,10,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,10)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,10,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,11,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,11)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,11,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,12,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,12)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,12,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(2,13,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(2,13)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(2,13,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc14">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Backspace</div>
            </div>
            <!-- <div class="kl kl0 ts5">
              <div>␈</div>
            </div>
            <div class="kl kl6 ts5">
              <div>
                ␈</div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="key kc15">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Insert</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc16">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Home</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc17">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Page Up</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc18">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Num Lock</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc19">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>/</div>
            </div>
            <div class="kl kl6 ts5">
              <div>/</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc20">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>*</div>
            </div>
            <div class="kl kl6 ts5">
              <div>*</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc21">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>-</div>
            </div>
            <div class="kl kl6 ts5">
              <div>-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- QWERTYUIOP -->
    <div class="kr3">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Tab</div>
            </div>
            <!-- <div class="kl kl0 ts5">
              <div>␉</div>
            </div>
            <div class="kl kl6 ts5">
              <div>␉
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,2,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,2)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,2,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,3,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,3)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,3,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,4,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,4)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,4,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,5,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,5)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,5,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,6,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,6)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,6,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,7,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,7)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,7,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,8,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,8)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,8,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,9,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,9)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,9,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,10,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,10)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,10,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,11,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,11)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,11,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,12,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,12)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,12,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(3,13,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(3,13)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(3,13,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc14">
        <div class="kc">
          <div class="kb kb-enter-top"></div>
          <div class="kb kb-enter-middle"></div>
          <div class="kb kb-enter-double">
          </div>
          <div class="kt kt-enter"></div>
          <div class="kt">
          </div>
          <div class="kt">
          </div>
          <div class="kls-enter">
            <!-- <div class="kl kl0 ts5">
              <div class="kls-enter-double">␍</div>
            </div>
            <div class="kl kl6 ts5">
              <div class="kls-enter-double">
                ␍</div>
            </div> -->
            <div class="kl kl4 ts4">
              <div>Enter</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc15">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Delete</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc16">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>End</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc17">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Page Down</div>
            </div>
          </div>
        </div>
      </div>

      <div class="key kc18">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>7</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc19">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc20">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>9</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc21">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>+</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ASDFGHJKL -->
    <div class="kr4">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Caps Lock</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,2,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,2)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,2,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,3,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,3)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,3,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,4,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,4)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,4,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,5,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,5)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,5,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,6,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,6)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,6,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,7,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,7)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,7,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,8,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,8)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,8,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,9,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,9)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,9,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,10,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,10)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,10,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,11,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,11)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,11,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,12,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,12)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,12,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(4,13,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(4,13)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(4,13,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="key kc14">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>4</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc15">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc16">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>6</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ZXCVBNM -->
    <div class="kr5">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Shift</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,2,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,2)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,2,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,3,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,3)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,3,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,4,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,4)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,4,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,5,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,5)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,5,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,6,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,6)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,6,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,7,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,7)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,7,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,8,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,8)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,8,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,9,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,9)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,9,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,10,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,10)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,10,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,11,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,11)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,11,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>{{getKey(5,12,true)}}</div>
            </div>
            <div class="kl kl6 ts5">
              <div>{{getKey(5,12)}}</div>
            </div>
            <div class="kl kl8 ts5">
              <div>{{getKey(5,12,false,true)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Shift</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc14">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>↑</div>
            </div>
          </div>
        </div>
      </div>

      <div class="key kc15">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>1</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc16">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc17">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc18">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Enter</div>
            </div>
            <!-- <div class="kl kl6 ts5">
              <div>␍</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Ctrl Alt Space -->
    <div class="kr6">
      <div class="key kc1">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Ctrl</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc2">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Win</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc3">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Alt</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc4">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl0 ts5">
              <div>␠</div>
            </div>
            <div class="kl kl6 ts5">
              <div>
                ␠</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc5">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>AltGr</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc6">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Win</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc7">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Menu</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc8">
        <div class="kc">
          <div class="kb"></div>
          <div class="kt"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>Ctrl</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc9">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>←</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc10">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>↓</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc11">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl4 ts4">
              <div>→</div>
            </div>
          </div>
        </div>
      </div>

      <div class="key kc12">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="key kc13">
        <div class="kc">
          <div class="kb"></div>
          <div class="kls">
            <div class="kl kl6 ts5">
              <div>,</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- kbd-bg -->
</div> <!-- kbd -->
