$default-text-color: #212631;
$dark-text-color: #000;
$error-text-color: #6f7173;
$color-active: #FFC757;
$color-active-blue: #106ebe;
$divider-bg: #C6D7F1;
$grey-bg: #CCD1D7;
$white-color: #fff;
$blue-bg: #EBF3FF;
$red-bg: #F8E7ED;
$red-text-color: #CC3359;
$game-blue-bg: #1863a5;
$light-gray: #EBEDEF;

// Theme colors.
$key-orange: #EB760F;
$key-orange-pressed: #7c3c11;
$key-purple: #A314F5;
$key-purple-pressed: #54037c;
$key-green: #0E9A0E;
$key-green-pressed: #074b07;
$key-red: #ED4561;
$key-red-pressed: #881f31;
$key-blue: #007AF5;
$key-blue-pressed: #014589;

$keyboard-bg: #E0E5EB;