$default-text-color: #212631;
$dark-text-color: #000;
$error-text-color: #6f7173;
$color-active: #FFC757;
$color-active-secondary: #D38E03;
$active-bg-hover: #FFEBC2;
$divider-bg: #C6D7F1;
$light-yellow: #FBF8F4;
$grey-bg: #CCD1D7;
$white-color: #fff;
