$default-text-color: #212631;
$dark-text-color: #000;
$error-text-color: #6f7173;
$color-active: #FFC757;
$color-active-secondary: #D38E03;
$active-bg-hover: #FFEBC2;
$divider-bg: #C6D7F1;
$light-yellow: #FBF8F4;
$grey-bg: #CCD1D7;
$white-color: #fff;
$blue-bg: #EBF3FF;
// Theme colors.
$key-orange: #EB760F;
$key-orange-pressed: #BF5E1D;
$key-purple: #A314F5;
$key-purple-pressed: #7905B3;
$key-green: #0E9A0E;
$key-green-pressed: #0A700A;
$key-red: #ED4561;
$key-red-pressed: #BA2C43;
$key-blue: #007AF5;
$key-blue-pressed: #005BB8;

$keyboard-bg: #E0E5EB;
