@import "app-colors";
@import "variables";
@import "mixins";

.login-hld {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $default-text-color;
  background-image: theme-var($--cover-space);
}

.logo-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  height: 200px;
}

.logo-hld {
  background-image: theme-var($--cover-text-da);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo-hld.no {
  background-image: theme-var($--cover-text-no);
}

.logo-hld.sv {
  background-image: theme-var($--cover-text-sv);
}

.footer-hld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
}

.footer-bg {
  background-image: theme-var($--cover-clouds);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-rocket-hld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
}

.footer-rocket {
  background-image: theme-var($--cover-rocket);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media(min-width: 1700px) {

  .logo-container,
  .footer-hld {
    height: 300px;
  }
}

@media(max-width: 1250px) {
  .logo-container {
    height: 25%;
  }
}
