@import "app-colors";

.login-hld {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $default-text-color;
  background-image: url("/assets/svg/cover_space.svg");
}

.logo-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  height: 200px;
}

.logo-hld {
  background-image: url("/assets/svg/cover_text.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-hld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 260px;
}

.footer-bg {
  background-image: url("/assets/svg/cover_skies.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-rocket-hld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
}

.footer-rocket {
  background-image: url("/assets/svg/cover_rocket_alone.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media(min-width: 1700px) {

  .logo-container,
  .footer-hld {
    height: 300px;
  }
}

@media(max-width: 1250px) {
  .logo-container {
    height: 150px;
  }
}
