@import "app-colors";

.login-hld {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $default-text-color;
  background-image: url("/assets/svg/cover_space.svg");
}

.logo-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  height: 200px;
}

.logo-hld {
  background-image: url("/assets/svg/cover_text.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-hld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(85vh - 200px);
}

.footer-bg {
  background-image: url("/assets/svg/cover_rocket.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media(min-width: 1700px) {
  .logo-container {
    height: 300px;
  }

  .footer-hld {
    height: calc(75vh - 300px);
  }
}
