<div class="dialog-hld">
  <div mat-dialog-title class="mat-dialog-title">
    <div class="title fx-layout-row fx-layout-start-center">
      <div class="icon-hld">
        <mat-icon [svgIcon]="'info'" class="app-icon-hover"></mat-icon>
      </div>
      <div class="title-hld">{{ data.title | translate }}</div>
    </div>
  </div>

  <div mat-dialog-content class="content-hld">
    <div>{{ data.description | translate }}</div>
  </div>

  <div mat-dialog-actions class="modal-footer">
    <div *ngIf="!data.hideActions" class="fx-layout-row fx-layout-end-center">
      <div (click)="close()" class="action-btn default">
        {{ "translateCancel" | translate }}
      </div>
      <div (click)="close(true)" class="action-btn">
        {{ "translateYes" | translate }}
      </div>
    </div>
    <div *ngIf="data.hideActions && data.showOkButton" class="fx-layout-row fx-layout-end-center">
      <div (click)="close()" class="action-btn">
        {{ "translateOk" | translate }}
      </div>
    </div>
  </div>
</div>
