@import "app-colors";
@import "variables";
@import "mixins";

.typing-header {
  background: theme-var($--active-light-bg);
}

.header-content {
  height: 56px;
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
}

.course-title {
  font-weight: 900;
  font-size: 16px;
  margin-left: 16px;
}

.course-det-hld {
  font-weight: 400;
  font-size: 12px;
  margin-right: 16px;
}

.back-btn-hld {
  background: $white-color;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  -moz-box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  -webkit-box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  border-radius: 12px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.back-btn-hld .mat-icon {
  width: 8px;
  height: 16px;
}

.reset-hld {
  width: 40px;
  height: 40px;
  background: $white-color;
  box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  -moz-box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  -webkit-box-shadow: 1px 1px 1px rgb(82 61 20 / 14%);
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::ng-deep .reset-hld .mat-icon svg>path {
  stroke: theme-var($--color-active-secondary);
}

::ng-deep .reset-hld .mat-icon svg>path:nth-of-type(3),
::ng-deep .reset-hld .mat-icon svg>path:nth-of-type(4) {
  fill: theme-var($--color-active-secondary);
  stroke: none;
}

.course-progress-hld {
  height: 4px;
}

.course-progress-hld .progress {
  background: theme-var($--color-active);
  height: 100%;
  border-radius: 4px;
}

.percentage-hld {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  color: theme-var($--color-active-secondary);
}
