<app-shared-top-menu></app-shared-top-menu>
<app-shared-settings *ngIf="viewSettings"></app-shared-settings>
<div class="main-content-hld">
  <div class="center-content">
    <div>
      <div class="game-text padd-tb-44">
        <div class="game-page-title">{{ 'translateWelcomeToGamePortal' | translate}}</div>
        <div class="game-page-description">{{ 'translateGamePortalDescription' | translate }}</div>
        <div class="games-list" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
          <div *ngIf="showGame; else noGamesTemplate">
            <div class="game-hld" (click)="navigateTo('fish')">
              <div>
                <mat-icon svgIcon="fish"></mat-icon>
              </div>
              <div class="game-title">{{ 'translateFishTyping' | translate }}</div>
            </div>
          </div>

          <ng-template #noGamesTemplate>
            <div>{{ 'translateNoGamesFor' | translate }} {{currentLanguage | translate}}.</div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
